---
const { icon, title, description } = Astro.props;
---

<div
  class="flex cursor-pointer flex-col items-start gap-4 rounded-2xl bg-background-card p-6 shadow-card transition-all duration-200 hover:-translate-y-1 hover:bg-imperial-red/5 hover:shadow-lg hover:ring-2 hover:ring-aureus-gold"
>
  <div class="w-full text-center text-3xl">{icon}</div>
  <h3 class="text-senate w-full text-center text-2xl font-semibold">{title}</h3>
  <p class="w-full text-center">{description}</p>
</div>
